* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f0f14;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.h3 {
    color: #a51dff;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position:relative;
}

.ul {
    display: flex;
    gap: 20px;
}

.header {
    height: 80vh;
}

.div-1 {
    margin-top: 2em;
    text-align:center;
    gap: 20px;

}

.p1 {
    color: #a51dff;
    margin-bottom: 10px;
}

.div-1 h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.descricao1 {
    margin-top: 20px;
    color: #a51dff;
}

/* SOBRE */
#sobre {
    min-width: 50vh;
    position: relative;
    padding: 1em;

}
#sobre h2 {
    color: #a51dff;
    text-align: center;
    margin-bottom: auto;
}

.sobre-conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.sobre-conteudo .sobre-texto {
    flex: 1;
}
.sobre-conteudo .sobre-formacao {
    flex:1;
}
.sobre-texto p {
    color: #b3b3b3;
    margin-bottom: 20px;
    line-height: 1.6;
}

.sobre-dados {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.sobre-dados div {
    text-align: center;

}

.sobre-dados strong {
            justify-content: center;
    display: block;
    font-size: 2em;
    color: #a51dff;
}
.sobre-dados span {
            justify-content: center;
    color: #b3b3b3;
    font-size: 1em;
}

/* PROJETOS */

#projetos {
    min-height: 100vh;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
}

.projetos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.projetos-container > * {
    flex: 1 1 250px; 

}

.projeto-card {
    background: #300077;
    padding: 20px;
    border-radius: 10px;
    flex: 1 1 300px; 
    max-width: 350px;
}

.projeto-card img {
    width: 100%;
    object-fit: contain;
    object-position: center;
}

#projetos h2 {
    color: #a51dff;
    text-align: center;
    margin-bottom: 1em;
}

.projeto-card p {
    color: #b3b3b3;
    margin-bottom: 25px;
}

.projeto-card a {
    margin: 10px;
    color: #a51dff;
    font-weight: bold;
    border: 2px solid #7b2cbf;
    padding: 10px;
    border-radius: 10px;
}

#habilidades {
    min-height: 50vh;
    text-align: center;
}

#habilidades p {
    color:#b3b3b3;  
    margin: 20px;
}

#habilidades h2 {
    color: #a51dff;
    margin: 20px;
    line-height: 1.6;
}

.habilidades-lista {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    margin: 20px;

}
.habilidades-card {
    background-color:#300077;
    border: 1px solid #7b2cbf;
    padding: 20px 20px;
    border-radius:10px;
}
.habilidades-card:hover {
    background-color: #7b2cbf;
}

.habilidades-card span {
    color: #b3b3b3;
    font-size: 1em;
    font-size: 0.8em;
}
.habilidades-card h3 {
    color: #a51dff;
    margin-bottom: 10px;;
}

#contatos {
    min-height: 50vh;
    text-align: center;
}
#contatos h2 {
    color: #a51dff;
    margin-bottom: 20px;
    line-height: 1.6;
}
#contatos p {
    color: #b3b3b3;
    font-size: 1em;
    margin-bottom: 15px;
}
.contatos-lista {
    display: flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 25px;
}

.contatos-item {
    background:#300077;
    padding: 20px 30px;
    border-radius: 10px;
    border: 1px solid #7b2cbf;
}

.contatos-item strong {
    background:#300077;
    color:#a51dff;
    display: block;
}   

.contatos-item span {
    color: #b3b3b3;
    font-size: 1em;
    font-size: 0.8em;
}
.formulario {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.formulario-lista {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 500px;
    color: #b3b3b3;
}

.formulario-lista input,
.formulario-lista select,
.formulario-lista textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #7b2cbf;
    background-color: #111122;
    color: #ffffff;
}

.mensagem{  
    text-align: center;
    justify-content: center;  
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid #7b2cbf;
    background:#300077;
    color:#b3b3b3;
}

.redes-sociais-lista {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    gap: 20px;
}


.redes-sociais h2 {
    margin-top: 20px;
    text-align: center;
    color: #a51dff;
    margin-bottom: 10px;
    line-height: 1.6;
}
@media (max-width: 768px) {
    .redes-sociais-lista {     
    flex-direction: column;
}
}
.redes-sociais a {
    border: 1px solid #7b2cbf;
    border-radius: 10px; 
    color:#a51dff;   
    padding: 10px 20px;
}
.redes-sociais a:hover {
    background-color: #300077;
}


.footer {
    height: 10vh;
    text-align: center;
    padding: 20px;
    background-color: #300077;
    color: #b3b3b3;
}
#hamburguer {
    display: none;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: #fff;   
}

@media (max-width:1024px) {
    #hamburguer {
        display: block;
    }
}
#ul {
    position: absolute;
    top: 70px;
    right: 40px;
    gap: 15px;
    background: #111;
    flex-direction: column;
    display: none;
}
#ul.ativa {
    display: flex;
    flex-direction: column;
    padding: 10px;
}